<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <input type="text" placeholder="아이디" name="userId">
        <input type="password" placeholder="비밀번호" name="password">
        <input type="button" value="로그인" onclick="javascript:login();">
        <input type="button" value="회원가입" onclick="javascript:location.href='/signup'">
        <script src="/js/main.js"></script>
    </body>
</html>